body{
    background-color: hsl(240, 27%, 18%);
}
div .welcome{
    height: auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
    
}
.header {
    text-align: center;
    color: hsl(21, 35%, 92%);
    font-size: 70px;
}

.list{
    text-align: center;
    list-style-type:none ;
}

.list a{
    color: hsl(21, 35%, 92%);
    text-decoration: none;
    font-size: 20px;
}